/*
 * Social icon positioning
 */

ul.share-buttons{
  list-style: none;
  padding-top: 40px;
  padding-bottom: 40px;
}

ul.share-buttons li{
  padding-left:    0.3rem;
  float: left;
  padding-right:    0.3rem;
}

/*
 * Other formatting
 */

/* image align right */

.align-right {
  display: block;
  margin-left: 12em;
  margin-right: auto;
  float: right;
}

/* image align center */

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Formatting collapsible code blocks
 */
 
 button.accordion {
    background-color: #ff4000;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 30%;
    border: 3px;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: block;
}

button.accordion.hide {
    display: none;
}
    
figure.highlight {
    padding: 0 18px;
    background-color: white;
}

figure.highlight.hide {
    display: none;
}
figure.highlight.show {
    display: block !important;
}